@model MVC_Shekru_WebApplication.Models.Employee
@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        background-color: #f8f9fa;
        padding-top: 50px;
    }

    .form-container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 30px;
        margin-top: 20px;
    }

    .card-header {
        height: 80px;
        background-color: orange;
        margin-bottom: 30px;
    }

        .card-header a {
            text-decoration: none;
            color: inherit;
        }

    .arrow-icon {
        margin-right: 10px;
        font-weight: bold;
        color: white;
        font-size: 35px;
    }

    h4 {
        display: inline-block;
        margin-top: 20px;
        color: white;
    }

    .row dt {
        font-weight: bold;
    }
</style>

<div class="form-container">
    <div class="card-header text-uppercase text-white">
        <a href="@Url.Action("Index", "Employees")">
            <span class="arrow-icon">&larr;</span>
            <h4>Delete Employee</h4>
        </a>
    </div>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class="col-sm-2">
            Designation
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DesignationIdRefNavigation.DesignationName)
        </dd>
        <dt class="col-sm-2">
            Grade
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GradeIdRefNavigation.GradeName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="text-start mt-4">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-primary ml-2">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
}
